.vh-100.row.justify-content-center.align-items-center
  .col-md-6.col-11
    %h1.text-center.mb-5 管理者でログイン
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email,
        required: false,
        autofocus: true,
        input_html: { autocomplete: 'email' }
      = f.input :password,
        required: false,
        input_html: { autocomplete: 'current-password' }
      = f.input :remember_me, as: :boolean
      = f.button :submit, 'ログイン', class: 'btn btn-primary d-block w-100'
